{% extends 'pages/admin/layouts/index.html' %}
{% block content %}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Tableau de bord</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                        <li><a href="#" class="fw-normal">Tableau de bord</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        
        <!-- ============================================================== -->
        <!-- RECENT SALES -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="d-md-flex mb-3">
                        <h3 class="box-title mb-0">Mon box</h3>
                        <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                            <select class="form-select shadow-none row border-top">
                                <option>March 2021</option>
                                <option>April 2021</option>
                                <option>May 2021</option>
                                <option>June 2021</option>
                                <option>July 2021</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">#</th>
                                    <th class="border-top-0">Nom</th>
                                    <th class="border-top-0">Prénom(s)</th>
                                    <th class="border-top-0">Profile</th>
                                    <th class="border-top-0">Tel</th>
                                    <th class="border-top-0">Objet</th>
                                    <th class="border-top-0">Publieur</th>
                                    <th class="border-top-0">Ajouté le</th>
                                    <th class="border-top-0">Modifié le</th>
                                    <th class="border-top-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% if data|length == 0 %}
                                <tr>
                                    <td colspan="10" class="text-center">Box vide pour le moment</td>
                                </tr>
                                {% else %}
                                {% for i in data %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.surname }}</td>
                                    <td>{{ i.profile }}</td>
                                    <td>{{ i.phone_number }}</td>
                                    <td>{{ i.objet }}</td>
                                    <td>{{ i.message }}</td>
                                    <td>{{ i.created_at }}</td>
                                    <td>{{ i.updated_at }}</td>
                                    <td>
                                        <span> <i class="fa fa-eye" style="color: green;"></i> </span>
                                        <span> <i class="fa fa-edit" style="color: blue;"></i> </span>
                                        <span><i class="fa fa-trash" style="color: red;"></i></span>
                                        <span></span>
                                    </td>
                                </tr>  
                                {% endfor %}
                                {% endif %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}