{% extends 'layouts/base.html' %}

{% block content %}
<div class="main-wrapper ">
    <section class="page-title bg-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block text-center">
              <span class="text-white">A propos de nous</span>
              <h1 class="text-capitalize mb-4 text-lg">Notre société</h1>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html" class="text-white">ODYCA</a></li>
                <li class="list-inline-item"><span class="text-white">/</span></li>
                <li class="list-inline-item"><a href="#" class="text-white-50">About</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <!-- Section About Start -->
    <section class="section about-2 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about-item pr-3 mb-5 mb-lg-0">
                        <span class="h6 text-color">Qui sommes-nous?</span>
                        <h2 class="mt-3 mb-4 position-relative content-title">                        <h2 class="mt-3 mb-4 position-relative content-title">Nous sommes une équipe dynamique de personnes spécialisées.</h2>
                    </h2>
                        <p class="mb-5">Nous sommes bien plus qu'une agence d'immigration. Nous sommes des facilitateurs de rêves, des architectes de parcours et des guides à travers le passionnant processus d'immigration au Canada.</p>
    
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about-item-img">
                        <img src="{{ url_for('static', filename='images/about/home-7.jpg') }}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Section About End -->
     
    <section class="about-info section pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Notre mission</h3>
                        <p style="text-align: justify;">Nous nous engageons à simplifier le processus d'immigration, offrant des solutions personnalisées pour concrétiser votre projet de vie au Canada.</p>
                    </div>		
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Notre vision</h3>
                        <p style="text-align: justify;">Nous aspirons à créer une communauté mondiale, unie par les opportunités offertes par le Canada, façonnant ainsi un avenir où chacun peut réaliser ses aspirations au-delà des frontières.</p>
                    </div>		
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>Notre approche</h3>
                        <p style="text-align: justify;">Notre approche repose sur la personnalisation attentive de chaque parcours d'immigration, une communication transparente à chaque étape, et un engagement inébranlable pour assurer le succès de votre projet au Canada.</p>
                    </div>		
                </div>
            </div>
        </div>
    </section>
    
    <!-- section Counter Start -->
    <section class="section counter bg-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-check color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">100</span> +</h3>
                        <p class="text-white-50">Projets traités</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-flag color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">85 </span>% </h3>
                        <p class="text-white-50">Taux de réussite</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-layers color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">89</span>%</h3>
                        <p class="text-white-50">Satisfaction Client</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center">
                        <i class="ti-medall color-one  text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">14</span></h3>
                        <p class="text-white-50">Programmes spécifiques </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section Counter End  -->
    <!--  Section Services Start -->
    <section class="section team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h4 text-color">Notre équipe</span>
                        <h2 class="mt-3 content-title text-center">Expert Team member to get best service</h2>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="team-item-wrap mb-5">
                        <div class="team-item position-relative">
                            <img src="{{ url_for('static', filename='images/team/team-1.jpg')}}" alt="" class="img-fluid w-100" style="height: 500px;">
                            <div class="team-img-hover">
                                <ul class="team-social list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-item-content">
                            <h4 class="mt-3 mb-0 text-capitalize">Charles Hubert EDORH</h4>
                            <p>Consultant</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="team-item-wrap mb-5">
                        <div class="team-item position-relative">
                            <img src="{{ url_for('static', filename='images/team/team-2.jpg')}}" alt="" class="img-fluid w-100" style="height: 500px;">
                            <div class="team-img-hover">
                                <ul class="team-social list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-item-content">
                            <h4 class="mt-3 mb-0 text-capitalize">Mlle Christelle</h4>
                            <p>Collaboratrice</p>
                        </div>
                    </div>
                </div>
    
        
            </div>
        </div>
    </section>
    <!--  Section Services End -->
    <!-- Section Testimonial Start -->
    <section class="section testimonial bg-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h4 text-color">Témoignages Client</span>
                        <h2 class="mt-3 content-title text-center">Ce que les clients pensent de nous</h2>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="testimonial-wrap">
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>
    
                    <div class="testimonial-item-content">
                        <p class="testimonial-text" style="font-size: 18px;">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis.</p>
    
                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>
    
                    <div class="testimonial-item-content">
                        <p class="testimonial-text" style="font-size: 18px;">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>
    
                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Mickel hussy</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    <!-- Section Testimonial End -->
    
    <!-- footer Start -->
    {% include 'partials/footer.html' %}
       
        </div>
{% endblock %}