{% extends 'layouts/base.html' %}

{% block content %}
<div class="main-wrapper ">
    <!-- Slider Start -->
    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10">
                    <div class="block">
                        <span class="d-block mb-3 text-white">Réalisez vos rêves</span>
                        <h2 class="animated fadeInUp mb-5 entrance-text">Facilitez la réalisation <br>de votre projet d'immigration <br>au Canada.</h2>
                        <a href="#" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >En savoir plus<i class="btn-icon fa fa-angle-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Intro Start -->
    
    <style>
        
    </style>
    <section class="section intro" id="intro">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 class="h3 text-color text-center content-title animate__animated" id="first-in-head"  style="font-weight: 600; ">Nous sommes Odyca Immigration</h2>
                        <h5 class="mt-3 content-title text-center">Notre équipe expérimentée de professionnels de l'immigration est composée d'avocats spécialisés, de consultants chevronnés et de conseillers dévoués, tous unis par un objectif commun : faire de votre transition vers le Canada une expérience fluide et réussie. </h5>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-12 animate__animated " id="first-element">
                    <div class="intro-item mb-5 mb-lg-0"> 
                        <i class="ti-medall color-one"></i>
                        <h4 class="mt-4 mb-3" style="font-weight: 600;">Expertise Juridique</h4>
                        <p style="text-align: justify;">Nos avocats experts simplifient votre parcours légal d'immigration au Canada.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 animate__animated" id="first-middle">
                    <div class="intro-item mb-5 mb-lg-0">
                        <i class="ti-thumb-up color-one"></i> 
                        <h4 class="mt-4 mb-3" style="font-weight: 600;">Service Personnalisé</h4>
                        <p style="text-align: justify;">Chaque parcours d'immigration est unique. Nous personnalisons nos solutions pour garantir le succès de votre demande.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 animate__animated" id="second-middle">
                    <div class="intro-item">
                        <i class="ti-announcement color-one"></i>
                        <h4 class="mt-4 mb-3" style="font-weight: 600;">Communication</h4>
                        <p style="text-align: justify;">Transparence totale : suivi en temps réel de votre dossier avec une équipe toujours disponible pour vos questions.</p>
                    </div>
                </div> 
                <div class="col-lg-3 col-md-6 animate__animated" id="last-element">
                    <div class="intro-item">
                        <i class="ti-user color-one"></i>
                        <h4 class="mt-4 mb-3" style="font-weight: 600;">Engagement</h4>
                        <p style="text-align: justify;">Votre réussite est notre priorité. Nous visons l'excellence pour maximiser vos chances de succès.</p>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    
    <!-- Section Intro END -->
    <!-- Section About Start -->
    
    <section class="section about position-relative" id="about">
        <div class="bg-about animate__animated" id="left-element"></div>
        <div class="container animate__animated" id="right-element">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 offset-md-0">
                    <div class="about-item ">
                        <span class="h6 text-color">Qui sommes nous ?</span>
                        <h2 class="mt-3 mb-4 position-relative content-title">Nous sommes une équipe dynamique de personnes créatives.</h2>
                        <div class="about-content">
                            <h4 class="mb-3 position-relative">Nous avons la solution à vos problèmes</h4>
                            <p class="mb-5">Nous sommes bien plus qu'une agence d'immigration. Nous sommes des facilitateurs de rêves, des architectes de parcours et des guides à travers le passionnant processus d'immigration au Canada.</p>
    
                            <a href="#" class="btn btn-main btn-round-full">Contactez nous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Section About End -->
    <!-- section Counter Start -->
    <section class="section counter" id="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <h3 class="mb-0"><span class="counter-stat font-weight-bold" id="projects-counter">100</span> +</h3>
                        <p class="text-muted">Projets traités</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <h3 class="mb-0"><span class="counter-stat font-weight-bold" id="success-rate">85 </span>% </h3>
                        <p class="text-muted">Taux de réussite des demandes</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <h3 class="mb-0"><span class="counter-stat font-weight-bold" id="satisfaction">89</span>%</h3>
                        <p class="text-muted">Satisfaction Client</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center">
                        <h3 class="mb-0"><span class="counter-stat font-weight-bold" id="specific">14</span></h3>
                        <p class="text-muted">Programmes spécifiques </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section Counter End  -->
    <!--  Section Services Start -->
    <section class="section service border-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h3 text-color">Nos services</span>
                        <h5 class="mt-3 text-center">Nous offrons une vaste gamme de services créatifs. </h5>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-book"></i>
                        <h4 class="mb-3">Visa temporaire.</h4>
                        <p>Facilitez vos voyages au Canada avec notre assistance spécialisée pour l'obtention de visas temporaires.</p>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-bookmark-alt"></i>
                        <h4 class="mb-3">Permis d'études.</h4>
                        <p>Atteignez vos objectifs académiques au Canada en toute simplicité grâce à notre soutien dans l'obtention des permis d'études.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-id-badge"></i>
                        <h4 class="mb-3">Visa de travail.</h4>
                        <p>Accédez aux opportunités professionnelles canadiennes avec notre expertise en obtention de visas de travail.</p>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-user"></i>
                        <h4 class="mb-3">Parrainage familial.</h4>
                        <p>Réunissez votre famille au Canada en toute facilité grâce à notre accompagnement dans le processus de parrainage familial.</p>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-car"></i>
                        <h4 class="mb-3">Immigration Québec.</h4>
                        <p>Découvrez les avantages uniques de l'immigration au Québec avec notre assistance spécialisée.</p>
                    </div>
                </div>
    
                
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-id-badge"></i>
                        <h4 class="mb-3">Demande de citoyenneté.</h4>
                        <p>Finalisez votre parcours d'immigration en devenant citoyen canadien – nous vous guidons à chaque étape de la demande de citoyenneté.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Section Services End -->
     <!-- Section Cta Start --> 
    <section class="section cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="cta-item  bg-white p-5 rounded">
                        <span class="h6 text-color">Nous sommes à votre disposition</span>
                        <h4 class="mt-2 mb-4">Confiez votre projet d'immigrationà notre équipe de professionnels</h4>
                        <p class="lead mb-4">Pour toute information vous pouvez nous joindre :</p>
                        <h3><i class="ti-mobile mr-3 text-color"></i>+1 514-840-3091</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Section Cta End-->
    
    <section class="section latest-blog bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h6 text-color">Nos articles</span>
                        <h2 class="mt-3 content-title text-white text-center">Derniers articles concernant l'immigration.</h2>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card bg-transparent border-0">
                        <img src="images/blog/1.jpg" alt="" class="img-fluid rounded">
    
                        <div class="card-body mt-2">
                            <div class="blog-item-meta">
                                <a href="#" class="text-white-50">Immigration Canada<span class="ml-2 mr-2">/</span></a>
                                <a href="#"  class="text-white-50">Parrainage Familial</a>
                            </div> 
    
                            <h4 class="mt-3 mb-5 lh-36"><a href="#" class="text-white ">Déménager au Canada en famille ou seul : Ce qu’il faut savoir </a></h4>
    
                            <a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Lire la suite</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card border-0 bg-transparent">
                        <img src="images/blog/2.jpg" alt="" class="img-fluid rounded">
    
                        <div class="card-body mt-2">
                            <div class="blog-item-meta">
                                <a href="#" class="text-white-50">Immigration Canada<span class="ml-2 mr-2">/</span></a>
                                <a href="#"  class="text-white-50">Parrainage Familial</a>
                            </div> 
    
                            <h4 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">ProjetCanada Avis 2023: Comment Reconnaitre Une Agence D’immigration Efficace ? </a></h4>
    
                            <a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Lire la suite</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card border-0 bg-transparent">
                        <img src="images/blog/3.jpg" alt="" class="img-fluid rounded">
    
                        <div class="card-body mt-2">
                            <div class="blog-item-meta">
                                <a href="#" class="text-white-50">Immigration Canada<span class="ml-2 mr-2">/</span></a>
                                <a href="#"  class="text-white-50">Parrainage Familial</a>
                            </div> 
    
                            <h4 class="mt-3 mb-5 lh-36"><a href="#" class="text-white">Devez-vous contacter l’ambassade pour obtenir un PVT au Canada </a></h4>
    
                            <a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function animateValue(obj, start, end, duration) {
        let startTimestamp = null;
        const step = (timestamp) => {
            if (!startTimestamp) startTimestamp = timestamp;
            const progress = Math.min((timestamp - startTimestamp) / duration, 1);
            obj.innerHTML = Math.floor(progress * (end - start) + start);
            if (progress < 1) {
            window.requestAnimationFrame(step);
            }
        };
        window.requestAnimationFrame(step);
        }
        const obj = document.getElementById("projects-counter");
        const obj1 = document.getElementById("success-rate");
        const obj2 = document.getElementById("satisfaction");
        const obj3 = document.getElementById("specific");

        const observer3 = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // Ajouter la classe "animate" à tous les éléments enfants de la section
                    entry.target.querySelectorAll('#specific').forEach(element => {
                        animateValue(obj, 0, 100, 2000);
                        animateValue(obj1, 0, 85, 4000);
                        animateValue(obj2, 0, 89, 2000);
                        animateValue(obj3, 0, 14, 3000);
                    });
                    

                    // Arrêter d'observer une fois que l'animation a été déclenchée
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold: 0.5 });
        const maSection3 = document.getElementById('counter');

        // Commencer à observer la section
        observer3.observe(maSection3);

        

        
    </script>

    <script>
        // Fonction d'observation
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // Ajouter la classe "animate" à tous les éléments enfants de la section
                    entry.target.querySelectorAll('#first-in-head').forEach(element => {
                        console.log('find')
                        element.classList.add('animate__slideInDown');
                    });
                    entry.target.querySelectorAll('#first-element').forEach(element => {
                        console.log('find')
                        element.classList.add('animate__slideInLeft');
                    });

                    entry.target.querySelectorAll('#last-element').forEach(element => {
                        console.log('find')
                        element.classList.add('animate__slideInRight');
                    });

                    entry.target.querySelectorAll('#first-middle').forEach(element => {
                        console.log('find')
                        element.classList.add('animate__slideInDown');
                    });
                    entry.target.querySelectorAll('#second-middle').forEach(element => {
                        console.log('find')
                        element.classList.add('animate__slideInUp');
                    });

                    // Arrêter d'observer une fois que l'animation a été déclenchée
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold: 0.5 });
        const maSection = document.getElementById('intro');

        // Commencer à observer la section
        observer.observe(maSection);

        const observer2 = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // Ajouter la classe "animate" à tous les éléments enfants de la section
                    entry.target.querySelectorAll('#left-element').forEach(element => {
                        console.log('find')
                        element.classList.add('animate__slideInLeft');
                    });
                    entry.target.querySelectorAll('#right-element').forEach(element => {
                        console.log('find')
                        element.classList.add('animate__slideInRight');
                    });

                    // Arrêter d'observer une fois que l'animation a été déclenchée
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold: 0.5 });

        // Cibler la section à observer
        const maSection2 = document.getElementById('about');

        // Commencer à observer la section
        observer2.observe(maSection2);

    </script>
    

    {% include 'partials/footer.html' %}
</div>
{% endblock %}