{% extends 'layouts/base.html'%}

{% block content %}
<div class="main-wrapper ">
    <section class="page-title bg-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block text-center">
              <span class="text-white">Nos services</span>
              <h1 class="text-capitalize mb-4 text-lg">Ce que nous faisons</h1>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html" class="text-white">ODYCA</a></li>
                <li class="list-inline-item"><span class="text-white">/</span></li>
                <li class="list-inline-item"><a href="#" class="text-white-50">Services</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <!--  Section Services Start -->
    <section class="section service border-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h3 text-color">Nos services</span>
                        <h5 class="mt-3 text-center">Nous offrons une vaste gamme de services créatifs. </h5>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-book"></i>
                        <h4 class="mb-3">Visa temporaire.</h4>
                        <p>Facilitez vos voyages au Canada avec notre assistance spécialisée pour l'obtention de visas temporaires.</p>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-bookmark-alt"></i>
                        <h4 class="mb-3">Permis d'études.</h4>
                        <p>Atteignez vos objectifs académiques au Canada en toute simplicité grâce à notre soutien dans l'obtention des permis d'études.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-id-badge"></i>
                        <h4 class="mb-3">Visa de travail.</h4>
                        <p>Accédez aux opportunités professionnelles canadiennes avec notre expertise en obtention de visas de travail.</p>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="ti-user"></i>
                        <h4 class="mb-3">Parrainage familial.</h4>
                        <p>Réunissez votre famille au Canada en toute facilité grâce à notre accompagnement dans le processus de parrainage familial.</p>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-car"></i>
                        <h4 class="mb-3">Immigration Québec.</h4>
                        <p>Découvrez les avantages uniques de l'immigration au Québec avec notre assistance spécialisée.</p>
                    </div>
                </div>
    
                
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <i class="ti-id-badge"></i>
                        <h4 class="mb-3">Demande de citoyenneté.</h4>
                        <p>Finalisez votre parcours d'immigration en devenant citoyen canadien – nous vous guidons à chaque étape de la demande de citoyenneté.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Section Services End -->
    
    <section class="cta-2">
        <div class="container">
            <div class="cta-block p-5 rounded">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-lg-7">
                        <span class="text-color">Pour tout type de demande</span>
                        <h2 class="mt-2 text-white">Confiez votre projet à notre meilleure équipe de professionnels</h2>
                    </div>
                    <div class="col-lg-4">
                        <a href="contact.html" class="btn btn-main btn-round-full float-right">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- footer Start -->
    {% include 'partials/footer.html' %}
       
        </div>
{% endblock %}